apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: application-controller-role-binding
  namespace: argocd
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: application-controller-role
subjects:
- kind: ServiceAccount
  name: application-controller
  namespace: argocd
