@import 'node_modules/argo-ui/src/styles/config';

.editable-panel {
    position: relative;

    &__buttons {
        position: absolute;
        top: 30px;
        right: 3em;
    }

    .form-field__select {
        line-height: 15px;
        padding: 0;
    }

    .white-box__details-row {
        position: relative;
    }

    .argo-form-row__error-msg {
        position: absolute;
        top: 0;
    }

    &--disabled::after {
        content: '';
        border-radius: 4px;
        position: absolute;
        display: block;
        background: rgba($argo-color-gray-6, .2);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
