apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


images:
- name: quay.io/argoproj/argocd
  newName: quay.io/argoproj/argocd
  newTag: v2.13.0-rc1
resources:
- ./application-controller
- ./dex
- ./repo-server
- ./server
- ./config
- ./redis
- ./notification
- ./applicationset-controller
