apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


images:
- name: quay.io/argoproj/argocd
  newName: quay.io/reginavoloshin/argocd
  newTag: 4.4.6-f
resources:
- ./application-controller
- ./dex
- ./repo-server
- ./server
- ./config
- ./redis
- ./notification
- ./applicationset-controller
