apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-server
  labels:
    version: ARGOCD_VERSION_TO_BE_REPLACED
spec:
  template:
    metadata:
      labels:
        version: ARGOCD_VERSION_TO_BE_REPLACED
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-repo-server
  labels:
    version: ARGOCD_VERSION_TO_BE_REPLACED
spec:
  template:
    metadata:
      labels:
        version: ARGOCD_VERSION_TO_BE_REPLACED
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-application-controller
  labels:
    version: ARGOCD_VERSION_TO_BE_REPLACED
spec:
  template:
    metadata:
      labels:
        version: ARGOCD_VERSION_TO_BE_REPLACED
