@import 'node_modules/argo-ui/src/styles/config';

.application-conditions {
    &__condition {
        border-left: 5px solid $argo-color-gray-4;
        line-height: 1.8em;
        padding: 10px 0;
        &--error {
            border-left-color: $argo-failed-color-dark;
        }

        &--warning {
            border-left-color: $argo-status-warning-color;
        }

        &--info {
            border-left-color: $argo-success-color;
        }

        .columns {
            white-space: normal;
        }
    }
}
