@import 'node_modules/argo-ui/src/styles/config';

.application-conditions {
    &__condition {
        border-left: 5px solid $argo-color-gray-4;

        &--error {
            border-left-color: $argo-failed-color-dark;
        }

        &--warning {
            border-left-color: $argo-failed-color-light;
        }

        &--info {
            border-left-color: $argo-success-color;
        }

        .columns {
            white-space: normal;
        }
    }
}
