@import 'node_modules/argo-ui/src/styles/config';

@mixin bannerStyle($color) {
  background-color: $color;
  border-color: darken($color, 5%);
  color: desaturate(darken($color, 60%), 20%);
}

.banner {
  width: 100%;
  background: white;
  border: 2px solid black;
  border-radius: 7px;
  padding: 7px 14px;
  line-height: 1.5em;

  i {
    margin-right: 7px;
  }

  &__info {
    @include bannerStyle($argo-color-teal-3);
  }

  &__warning {
    @include bannerStyle($argo-status-warning-color);
  }

  &__error {
    @include bannerStyle($argo-failed-color-light);
    color: white;
  }
}
