version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
    - dependency-name: k8s.io/*

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
