# All
** @argoproj/argocd-approvers

# Docs
/docs/**     @argoproj/argocd-approvers @argoproj/argocd-approvers-docs
/USERS.md    @argoproj/argocd-approvers @argoproj/argocd-approvers-docs
/README.md   @argoproj/argocd-approvers @argoproj/argocd-approvers-docs
/mkdocs.yml  @argoproj/argocd-approvers @argoproj/argocd-approvers-docs

# CI
/.github/workflows/                   @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/.github/pr-title-checker-config.json @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/.goreleaser.yaml                     @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/bump-major-version.sh           @argoproj/argocd-approvers @argoproj/argocd-approvers-ci

# Build / e2e testing
Procfile                            @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
Makefile                            @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
Dockerfile                          @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
Dockerfile.*                        @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
.dockerignore                       @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/Tiltfile                           @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/entrypoint.sh                      @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/dev-mounter/                  @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/get-previous-release/         @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/installers/                   @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/k8s/                          @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/install.sh                    @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/generate-release-notes.sh     @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/generate-ui-pnpm-sbom.sh      @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/goreman-start.sh              @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/start-redis-with-password.sh  @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/test.sh                       @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/tool-versions.sh              @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/tools.go                      @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/trigger-release.sh            @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/update-manifests.sh           @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/update-openapi.sh             @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/update-supported-versions.sh  @argoproj/argocd-approvers @argoproj/argocd-approvers-ci

# Security/code quality scanners/bots config
/.golangci.yaml                    @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/.codecov.yml                      @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/.snyk                             @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/SECURITY-INSIGHTS.yml             @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/renovate.json                     @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/renovate-presets/                 @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/sonar-project.properties          @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/.github/dependabot.yml            @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/.github/configs/                  @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/snyk-container-tests.sh      @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/snyk-non-container-tests.sh  @argoproj/argocd-approvers @argoproj/argocd-approvers-ci
/hack/snyk-report.sh               @argoproj/argocd-approvers @argoproj/argocd-approvers-ci

# CLI
/cmd/argocd/** @argoproj/argocd-approvers @argoproj/argocd-approvers-cli
/cmd/main.go @argoproj/argocd-approvers @argoproj/argocd-approvers-cli
# Also include @argoproj/argocd-approvers-docs to avoid requiring CLI approvers for docs-only PRs.
/docs/operator-manual/ @argoproj/argocd-approvers @argoproj/argocd-approvers-docs @argoproj/argocd-approvers-cli
