.project-sync-windows-panel {
    &__form-row {
        position: relative;
        input.argo-field {
            margin-top: 29px;
        }

        .fa-times {
            position: absolute;
            cursor: pointer;
            left: -1.2em;
            top: 2.2em;
        }
    }

    form > .row > .columns {
        padding-left: 0;
    }

    &__options-wrapper {
        display: block;
        height: 206px;
        max-height: 206px;
    }

    &__text-wrapper {
        white-space: normal;
    }
}
