apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../crds
- ../cluster-rbac/application-controller
- ../base/config
- ../base/application-controller
- ../base/applicationset-controller
- ../base/repo-server
- ../base/redis
images:
- name: quay.io/argoproj/argocd
  newName: quay.io/codefresh/argocd
  newTag: v2.8.1-cap-CR-rollout-skip-step-fix
