@import 'node_modules/argo-ui/src/styles/config';

.application-node-info {
    &__manifest {
        overflow-x: auto;

        .tabs__content {
            background-color: white;
        }

        &--raw {
            font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace;
            white-space: pre;
            font-size: 12px;
            color: gray;
            padding: 0 0 0 12px;
            line-height: 2em;
        }
    }

    &__labels {
        line-height: 28px;
    }

    &__label {
        background-color: $argo-color-gray-5;
        color: white;
        border-radius: 5px;
        padding: 4px;
        display: inline-block;
        margin-right: 2px;
        line-height: 14px;
    }
}
