@import 'node_modules/argo-ui/src/styles/config';

.project-summary {
  width: 95%;
  margin: 0 auto;

  .card {
    margin-right: 30px;
  }

  &__title {
    font-size: 33px;
    color: black;
    margin: 10px 0;
  }

  &__description {
    &--row {
      display: flex;
      margin-bottom: 10px;
    }

    input {
      background: none;
      border: none;
      outline: none;
      appearance: none;
      font-weight: 500;
      color: $argo-color-gray-7;
      flex-grow: 1;
      margin-left: 10px;
    }

    &--actions {
      display: flex;
      flex-shrink: 1;
      flex-grow: 0;
      div {
        margin-right: 10px;
      }
    }
  }

  &__section {
    margin: 30px 0;
    &--row {
      display: flex;
    }
  }

  &__label {
    text-transform: uppercase;
    color: $argo-color-gray-7;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}
