@import 'node_modules/argo-ui/src/styles/config';

.project-summary {
  &__section {
    margin-bottom: 20px;
  }

  &__section {
    margin-top: 30px;
  }

  &__label {
    margin-bottom: 1.5em;
  }
}
