@import 'node_modules/argo-ui/src/styles/config';

.applications-tiles {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill,minmax(370px,1fr));
    padding: 0 12px;

    &__wrapper {
        height: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        &__small {
            font-size: 14px;
            margin-bottom: 3px;
        }
    }

    &__actions {
        margin-top: auto;
    }

    .argo-table-list__row {
        padding-top: 0;
        padding-bottom: 0;
    }
    &__selected {
        box-shadow: 0 0 0 1px $argo-color-teal-5;
    }

    .applications-list__title {
        white-space: normal !important;
        word-break: break-word; 
        overflow-wrap: break-word; 
        hyphens: auto; 
        line-height: 1.4; 
        width: 100%; 
    }
}

.columns:has(> .argo-icon-git), .columns:has(> .argo-icon-helm) {
    display: flex;
    align-items: center;
}

@media screen and (min-width: calc(map-get($breakpoints, xxlarge) - 1px)) {
    .custom-tooltip {
        display: none !important;
    }
}
