@import 'node_modules/argo-ui/src/styles/config';

.status-bar {
	margin: 0px;
	width: 80%;
}

.scale {
	height: 20px;
	display: flex;
	border-radius: 24px;
	border: 3px solid white;
	overflow: hidden;
}

.segments:not(:first-child) {
	border-left: 3px solid white;
}
