@import 'node_modules/argo-ui/src/app/shared/styles/config';
@import 'node_modules/foundation-sites/scss/util/util';

.applications-list {
    padding: 1em;
    &__title {
        font-weight: bolder;
        font-size: 15px;
        color: $argo-color-gray-6;
        padding-top: 0.25em;
        padding-bottom: 0.5em;
    }

    &__info {
        line-height: 24px;
        margin: 1em 0;
    }

    &__icons {
        line-height: 24px;
    }

    &__empty-state {
        text-align: center;
    }

    &__entry {
        padding-left: 1em;
        border-left: 5px solid $argo-color-gray-4;

        // healthy statuses

        &--comparison-Synced {
            border-left-color: $argo-success-color;
        }

        &--health-Healthy {
            border-left-color: $argo-success-color;
        }

        // having this higher up ensures that progressing takes precedence
        &--comparison-OutOfSync {
            border-left-color: $argo-status-warning-color;
        }

        // intermediate statuses

        &--health-Progressing {
            border-left-color: $argo-running-color;
        }

        // failed statuses

        &--health-Degraded {
            border-left-color: $argo-failed-color;
        }

        &--comparison-Error {
            border-left-color: $argo-failed-color;
        }

        &--actions {
            padding-top: 1em;
        }
    }

    &__filters-expander {
        position: absolute;
        top: 0.75em;
        right: 1em;
        cursor: pointer;
    }

    &__filters-container {
        max-height: 2.5em;
        overflow: hidden;
        position: relative;
        border-radius: $border-radius;
        box-shadow: 1px 1px 3px $argo-color-gray-5;
        padding: 0 1em 0.75em 1em;
        margin: 33px 0;
        background-color: white;
        transition: max-height 0.25s cubic-bezier(0, 1, 0, 1);

        ul, a, p {
            margin: 0;
        }

        p {
            margin-top: 1em;
            color: $argo-color-gray-6;
            text-transform: uppercase;
        }

        &::before {
            content: 'FILTERS';
            display: block;
            color: $argo-color-gray-6;
            padding-bottom: 1em;
            margin-top: 0.5em;
        }

        &--expanded {
            overflow-y: auto;
            max-height: calc(1.55em * 15);
            transition: max-height 1s ease-in-out;
            &::before {
                display: none;
            }
        }
    }

    &__filters-container-title {
        border-bottom: 1px solid $argo-color-gray-3;
        margin-bottom: 1em;
    }

    &__filter {
        li {
            list-style: none;
        }
        max-height: calc(1.55em * 10);
        transition: max-height 0.25s cubic-bezier(0, 1, 0, 1);
        overflow-y: auto;
    }

    &__filter-expander {
        display: none;
    }

    &__view-type {
        white-space: nowrap;
        i {
            cursor: pointer;
            color:  $argo-color-gray-4;
            margin-right: 1em;
            &::before {
                font-size: 1.5em;
            }
        }
        i.selected {
            cursor: default;
            color: $argo-color-teal-5;
        }
    }

    @include breakpoint(xxlarge up) {
        &__summary {
            margin-top: 5.3em;
        }

        &__filter-expander {
            display: inline;
        }

        &__filter--expanded {
            max-height: 1000px;
            transition: max-height 0.5s ease-in-out;
        }

        &__filters-expander {
            display: none;
        }

        &__filters-container {
            max-height: 10000px;
            &::before {
                display: none;
            }
        }
    }

    &__filter-label {
        vertical-align: bottom;
        width: calc(100% - 50px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        margin-right: 10px;
    }

    &__table-icon {
        display: inline-block;
        margin-right: 10px;
        width: 80px;
    }

    &__table-row {
        & > .columns:first-child {
            padding-left: 30px;
        }
        margin-left: -30px !important;
    }

    &__search {
        position: relative;
        i.fa-search {
            position: absolute;
            bottom: 0.6em;
            left: -1.5em;
        }
        i.fa-times {
            cursor: pointer;
            position: absolute;
            color: $argo-color-gray-5;
            bottom: 0.6em;
            right: 0;
            z-index: 1;
        }
        .select {
            width: 100%;
            border-radius: $border-radius;
        }
    }

    &__external-link {
        position: absolute;
        top: 1em;
        right: 1em;
    }
}
