@import 'node_modules/foundation-sites/scss/util/util';

.flex-top-bar {
    width: 100%;
    position: sticky;
    z-index: 5;
    padding: 0 15px;
    top: -50px;
    align-items: center;
    flex-wrap: wrap;
    &__actions {
        display: flex;
        align-items: center;
        height: 50px;
        @include breakpoint(medium down) {
            flex-basis: 100%;
            justify-content: center;
        }
        button {
            display: block;
        }
    }
    &__tools {
        display: flex;
        flex-grow: 1;
        align-items: center;
        @include breakpoint(medium down) {
            flex-wrap: wrap;
        }
    }
}
