@import 'node_modules/argo-ui/v2/styles/colors.scss';

.toolbar {
    position: sticky;
    z-index: 5;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 -2px 0 0 $argo-color-gray-3 inset;

    $breadcrumbs-height: 40px;

    &--breadcrumbs {
        height: $breadcrumbs-height;
        top: 0;
        font-size: 14px;
        padding: 0 15px;
    }

    &--actions {
        position: sticky;
        top: $breadcrumbs-height;
        padding: 10px;
        font-size: 13px;
        flex-wrap: wrap;

        .action-button {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        &__views {
            margin-left: auto;
            display: flex;
        }

        &__view {
            font-size: 23px;
            cursor: pointer;
            margin-right: 12px;
            &--selected {
                color: $sky;
            }
        }
    }
}
