@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/foundation-sites/scss/util/util';

.filter {
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 1em;

    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 13px;
        color: $argo-color-gray-5;
        font-weight: 500;
        margin-bottom: 0.5em;
        height: 28px;
    }

    &__collapse {
        cursor: pointer;
        margin-left: auto;
        color: $argo-color-gray-7;
        font-size: 20px;
    }

    &__error {
        color: $argo-failed-color-dark;

        &__retry {
            color: $argo-running-color;
            cursor: pointer;
        }
    }

    &__loading {
        color: $argo-running-color;
    }

    &__error,
    &__loading {
        text-align: center;
    }

    &--wrap {
        overflow: auto;
        .checkbox__item {
            min-width: 4.5em;
            float: left;
        }
    }
}

.filters-group {
    &__container {
        display: flex;
        &__title {
            margin-bottom: 1em;
            font-size: 13px;
            color: $argo-color-gray-6;
            display: flex;
            align-items: center;
            width: 200px;
        }

        .filter {
            margin-right: 15px;
            height: max-content;
            min-width: 200px;
            max-width: 200px;
        }

        &__subgroup {
            align-self: start;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__container--hidden {
        display: none;
    }
}

@include breakpoint(xxlarge up) {
    .filter {
        width: 100%;
        margin-right: 0;
    }

    .filters-group {
        &__container {
            width: 260px;
            flex-wrap: wrap;
            padding-bottom: 6em;

            &__title .action-button {
                display: none;
            }

            &__text-filters {
                width: 100%;
            }
        }

        &__container--hidden {
            display: flex;
        }
    }
}