@import 'node_modules/argo-ui/bundle/app/shared/styles/config';

$popup-border-radius: 8px;

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(222, 222, 222, 0.62); /*dim the background*/
    border: 1px solid $argo-color-gray-4;

    .popup-container {
        position: relative;
        box-shadow: 3px 3px 20px #888888;
        margin: 0 auto;
        top: 25%;
        width: 35%;
        min-width: 400px;
        max-width: 1000px;
        max-height: 600px;
        z-index: 20;
        border-radius: $popup-border-radius;

        &__header {
            line-height: 60px;
            padding-left: 30px;
            height: 60px;
            background-color: $argo-color-gray-2;
            border-top-right-radius: $popup-border-radius;
            border-top-left-radius: $popup-border-radius;

            h2 {
                margin-left: 5%;
                line-height: 50px;
            }

            i {
                font-size: 21px;
                float: right;
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: pointer;
            }
        }

        &__footer {
            background-color: white;
            bottom: 0;
            padding-top: 10px;
            padding-left: 44px;
            padding-bottom: 40px;
            border-bottom-right-radius: $popup-border-radius;
            border-bottom-left-radius: $popup-border-radius;

            & > .ax-button {
                min-width: 120px;
                margin-right: 20px;
            }

            &--additional-padding {
                padding-left: 154px;
            }
        }

        &__body {
            background-color: white;

            h4, p {
                padding-left: 30px;
                margin-top: 40px;
                margin-right: 10px;
                word-wrap: break-word;
            }

            h4 {
                font-size: 15px;
                font-weight: bold;
            }

            p {

                font-size: 15px;
                margin-top: 10px;
                margin-bottom: 10px;
                color: $argo-color-gray-6;
            }
        }

        &__icon {
            transform: translateY(36%);

            & > i {
                display: block;
                text-align: end;
                font-size: 40px;

                &.warning {
                    color: $argo-color-yellow;
                }

                &.success {
                    color: $argo-success-color;
                }

                &.failed {
                    color: $argo-failed-color;
                }
            }
        }
    }
}
