@import 'node_modules/argo-ui/bundle/app/shared/styles/config';

.applications-list {
    padding-top: 1em;
    &__title {
        font-weight: bolder;
        font-size: 15px;
        color: $argo-color-gray-6;
    }

    &__info {
        line-height: 24px;
        border-left: 1px solid $argo-color-gray-4;
        margin: 1em 0;
    }
}
