@import 'node_modules/argo-ui/bundle/app/shared/styles/config';

.applications-list {
    padding-top: 1em;
    &__title {
        font-weight: bolder;
        font-size: 15px;
        color: $argo-color-gray-6;
        padding-top: 0.25em;
        padding-bottom: 0.5em;
    }

    &__info {
        line-height: 24px;
        margin: 1em 0;
    }

    &__icons {
        line-height: 24px;
    }

    &__entry {
        padding-left: 1em;
        border-left: 5px solid $argo-color-gray-4;

        &--comparison-Synced {
            border-left-color: $argo-success-color;
        }

        &--comparison-Error {
            border-left-color: $argo-failed-color;
        }

        &--comparison-OutOfSync {
            border-left-color: $argo-failed-color;
        }

        &--actions {
            padding-top: 1em;
        }
    }
}
