@import 'node_modules/argo-ui/bundle/app/shared/styles/config';

.application-resources-tree {
    position: relative;
    overflow: hidden;

    &__line {
        position: absolute;
        border-top: 1px dashed $argo-color-gray-5;
    }

    &__edge {
        .application-resources-tree__line {
            &:last-child {
                &:after {
                    content: '\25BA';
                    position: absolute;
                    color: #A3A3A3;
                    font-size: 10px;
                    top: -10px;
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__node {
        position: absolute;
        padding-left: 3.5em;
        margin: 10px;
        box-shadow: 1px 1px 1px $argo-color-gray-4;
        background-color: white;
        border-radius: 4px;
        border: 1px solid transparent;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;

        &.active {
            border-color: $argo-color-teal-6;
        }
    }

    &__node-kind-icon {
        position: absolute;
        left: 10px;
        top: 8px;
        line-height: 1;
        color: $argo-success-color;
    }

    &__node-title {
        line-height: 52px;
    }

    &__node-status-icon {
        position: absolute;
        right: 5px;
        bottom: 0;
    }
}
