@import 'node_modules/argo-ui/src/styles/config';

$button-width: 85px;
$round-button-size: 27px;
$col-width: 230px;

$input-padding-left: 7px;
$input-margin-right: 10px;
$button-padding: 7px;
$col-gutter: 10px;
