@import 'node_modules/argo-ui/src/styles/config';

$button-width: 75px;
$round-button-size: 27px;

$col-width: 245px;
$col-width-large: 450px;

$input-padding-left: 7px;
$input-margin-right: 10px;
$button-padding: 7px;
$col-gutter: 10px;
