$save-green: #50c57c;
$active-blue: #39a3e2;
$cancel-red: #e24848;
$disabled-grey: #7f8486;

$button-width: 85px;
$round-button-size: 27px;
$col-width: 230px;

$input-padding-left: 7px;
$input-margin-right: 10px;
$button-padding: 7px;
$col-gutter: 10px;
