@import 'node_modules/argo-ui/src/styles/config';
@import './config';

.project {
  &__toggle {
    display: flex;
    align-items: center;
    margin-left: 10px;
    .project__button {
      border-radius: 0px;
      margin: 0;
      &:first-child {
        border-radius: 5px 0px 0px 5px;
      }
      &:last-child {
        border-radius: 0px 5px 5px 0px;
      }
      &--on {
        &__deselected {
          background: white;
          color: $argo-running-color;
        }
        &__selected {
          background: $argo-running-color;
          color: white;
        }
      }
      &--off {
        &__deselected {
          background: white;
          color: $argo-color-gray-5;
        }
        &__selected {
          background: $argo-color-gray-5;
          color: white;
        }
      }
    }
  }
}
