@import 'node_modules/argo-ui/src/styles/config';
@import './config';

.project {
  &__button {
    display: block;
    padding: $button-padding;
    margin: 0 auto;
    width: auto;
    border-radius: 7px;
    cursor: pointer;
    color: $white-color;
    font-weight: 600;
  }

  &__button-save {
    background-color: $active-blue;
  }

  &__button-saved {
    background-color: $save-green;
  }

  &__button-error {
    background-color: $cancel-red;
  }

  &__button-cancel {
    background-color: $cancel-red;
  }

  &__button-disabled {
    background-color: $disabled-grey;
    cursor: not-allowed;
  }

  &__button-round {
    padding: 0;
    border-radius: 100%;
    font-weight: 800;
    font-size: 15px;
    width: $round-button-size;
    height: $round-button-size;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button-remove {
    border: 2px solid $cancel-red;
    color: $cancel-red;
    transition: all 300ms;

    &:hover {
      color: $white-color;
      background-color: $cancel-red;
    }
  }

  &__button-add {
    background-color: $save-green;
    margin-right: 0;
    color: $white-color;
  }
}
