@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

.application-deployment-history {
    &__item {
        position: relative;
        @include themify($themes) {
            background: themed('background-2');
            color: themed('text-1');
        }
        border-radius: $border-radius;
        box-shadow: 1px 1px 3px $argo-color-gray-5;
        margin-top: 1em;
        overflow: hidden;

        & > .columns {
            padding: 1em;
        }

        & > .columns:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;            
            @include themify($themes) {
                background: themed('light-argo-teal-1');
                color: themed('text-2');
            }
        }
    }

    &__item-menu {
        position: absolute;
        top: 1em;
        right: 1em;
    }

    &__show-parameter-details {
        margin: 20px 0px;
    }

    .white-box {
        margin-top: 1em;
        padding: 0;
        box-shadow: none;
    }

    .white-box__details p {
        margin-left: -1em;
    }

    .separator {
        height: 2px;
        margin: 1em 0;
        width: 100%;
        background-color: $argo-color-gray-5;
    }
}
