@import 'node_modules/argo-ui/src/styles/config';

.application-deployment-history {
    &__item {
        cursor: pointer;
        position: relative;
        color: $argo-color-gray-6;
        border-radius: $border-radius;
        box-shadow: 1px 1px 3px $argo-color-gray-5;
        margin-top: 1em;
        background: white;
        overflow: hidden;

        & > .columns {
            padding: 1em;
        }

        & > .columns:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            background-color: $argo-color-teal-1;
        }
    }

    &__item-menu {
        position: absolute;
        top: 1em;
        right: 1em;
    }

    .white-box {
        margin-top: 1em;
        padding: 0;
        box-shadow: none;
    }

    .white-box__details p {
        margin-left: -1em;
    }
}
