@import 'node_modules/argo-ui/src/app/shared/styles/config';

.application-create-panel {

    &__yaml-button {
        position: absolute;
        right: 1em;
        top: 1em;
    }

    &__sync-params {
        padding-top: 5px;
    }
}
