apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-redis
  labels:
    app.kubernetes.io/version: ARGOCD_VERSION_TO_BE_REPLACED
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/version: ARGOCD_VERSION_TO_BE_REPLACED
