.application-component-diff {
    line-height: 1em;
    position: relative;
    padding-top: 2em;

    &__checkboxes {
        position: absolute;
        right: 1em;
        top: 0;
    }

    &__diff {
        font-size: 10pt;
    }
}
