@import 'node_modules/argo-ui/bundle/app/shared/styles/config';

.application-resource-events {
    &__event {
        border-left: 5px solid $argo-color-gray-4;

        &--Warning {
            border-left-color: $argo-failed-color;
        }

        &--Normal {
            border-left-color: $argo-success-color;
        }

        .row {
            line-height: 2;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .columns {
            white-space: normal;
        }
    }
}
