@import 'node_modules/argo-ui/src/styles/config';

.application-summary {
    &__labels {
        line-height: 28px;
        display: flex;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        padding-top: 0.5em;
    }

    &__label {
        background-color: $argo-color-gray-5;
        color: white;
        border-radius: 5px;
        padding: 4px;
        line-height: 14px;
        margin: 0.3em 0;
        margin-right: 2px;
    }

    &__sort-icon {
        cursor: pointer;
        position: absolute;
        font-size: 1.3em;
        left: -1em;

        &.fa-sort-up {
            top: 10px;
        }

        &.fa-sort-down {
            bottom: 10px;
        }
    }
    &__remove-icon {
        cursor: pointer;
        position: absolute;
        top: 1em;
        right: 1em;
    }

    .argo-field {
        line-height: 1.15;
    }

    .white-box__details-row .row {
        padding-left: 1em;
        padding-right: 1em;
    }

    .white-box__details-row .row .columns:last-child {
        padding-left: 1em;
    }

    .select {
        padding-bottom: 0;
    }
}
