.progress-popup__title {
    font-family: "Heebo", sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    color: #495763;
}

.progress-popup__footer {
    text-align: right;
}

.progress-popup__content {
    padding-top: 15px;
}
