@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

.resource-details {
    &__header {
        display: flex;
        margin-bottom: 1em;
        align-items: center;
        padding-right: 48px;
        h1 {
            @include themify($themes){
                color: themed('text-2');
            }
            font-size: 23px;
            font-weight: 500;
            margin-right: 5px;
            margin-bottom: 0;
        }
    }
}
