# GnuPG signature verification

> [!NOTE]
> **GPG Signature verification is deprecated and will be removed in the next major Argo CD version.**
>
> Consult [Source Integrity Verification](./source-integrity.md) for the new and expanded alternative.
