---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: dex-server-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  - configmaps
  verbs:
  - get
  - list
  - watch
# - apiGroups:
#   - ""
#   resources:
#   - events
#   verbs:
#   - create
#   - list
