@import 'node_modules/argo-ui/v2/styles/colors.scss';

.sidebar {
    $width: 230px;
    min-width: $width;
    width: $width;
    padding: 15px;
    position: sticky;
    overflow-y: scroll;
    height: 100vh;
    max-height: 100vh;
    top: 0;
    color: white;
    background-color: $silver-lining;

    &__logo {
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0.5em;

        img {
            width: 40px;
            margin-right: 7px;
        }
    }

    &__version {
        cursor: pointer;
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }

    &__nav-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 17px;
        $height: 2.5em;
        height: $height;
        line-height: $height;
        color: $dull-shine;

        i {
            font-size: 26px;
            color: white;
            width: 35px;
        }

        i.fa-sign-in-alt {
            font-size: 22px;
        }

        &--active {
            color: white;
            font-weight: 500;
            box-shadow: -3px 0 0px 0 inset $sky;
        }
    }

    &__collapse-button {
        text-align: center;
        cursor: pointer;
        margin-top: 1em;
    }

    &--collapsed {
        $width: 60px;
        min-width: $width;
        width: $width;
        padding: 15px 5px;
        overflow: hidden !important;

        .sidebar__logo img {
            margin-right: 0;
        }

        .sidebar__nav-item i {
            margin-right: 0;
            margin-left: 10px;
        }
    }
}
