@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

.repos-list-DONOTUSE {
    textarea.argo-field {
        height: 20em;
        width: 100%;
        white-space: pre;
        overflow-wrap: normal;
        overflow-x: auto;
    }

    .argo-field-container > textarea.argo-field + label.argo-label-placeholder {
        align-self: start;
    }

    .argo-container {
        @include themify($themes) {
            input.argo-field {
                border-bottom: 2px solid themed('light-argo-teal-5') !important;
            }
        }

        input.argo-field:focus {
            outline: none;
            border-bottom: 2px solid $argo-color-teal-6 !important;
        }
    }
}
