.project-edit-panel {
    &__form-row {
        position: relative;
        input.argo-field {
            margin-top: 29px;
        }

        .form-field__select:not(.argo-has-value) {
            & .select__value::before {
                content: '';
                display: inline-block;
            }
        }

        .fa-times {
            position: absolute;
            cursor: pointer;
            left: -1.2em;
            top: 2.2em;
        }
    }

    form > h4 {
        margin-top: 1em;
    }

    form > .row > .columns {
        padding-left: 0;
    }
}
