@import 'node_modules/argo-ui/bundle/app/shared/styles/config';

.application-creation-wizard__title {
    position: relative;
}

.application-creation-wizard__title-btn {
    position: absolute;
    right: 0;
}

.application-creation-wizard__sub-title {
    font-size: 0.6em;
    font: $argo-color-gray-6;

    .fa {
        padding-left: 10px;
        cursor: pointer;
        color: $argo-color-teal-6;
    }
}

.application-creation-wizard__rev {
    margin-left: 10px;
}

.application-creation-wizard__values-files {
    border-bottom: none;
    i {
        cursor: pointer;
    }
}

.application-creation-wizard__values-file-label {
    background-color: $argo-color-gray-4;
    border: 1px solid $argo-color-gray-5;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.application-creation-wizard__values-files-autocomplete {
    width: 400px;
    float: left;
    position: relative;
    i {
        position: absolute;
        right: -1em;
        top: 5px;
    }

    .autocomplete {
        padding: 0;
    }
}
