@import 'node_modules/argo-ui/src/app/shared/styles/config';

.application-creation-wizard__title {
    position: relative;
}

.application-creation-wizard__title-btn {
    position: absolute;
    right: 0;
}

.application-creation-wizard__sub-title {
    font-size: 0.6em;
    font: $argo-color-gray-6;

    .fa {
        padding-left: 10px;
        cursor: pointer;
        color: $argo-color-teal-6;
    }
}

.application-creation-wizard__rev {
    margin-left: 10px;
}
