redis-ha:
  persistentVolume:
    enabled: false
  redis:
    masterGroupName: argocd
    config:
      save: "\"\""
      bind: "0.0.0.0"
  exporter:
    enabled: true
    image: public.ecr.aws/bitnami/redis-exporter
    tag: "1.45.0"
  haproxy:
    enabled: true
    IPv6:
      enabled: false
    image:
      tag: 2.6.2-alpine
    containerSecurityContext: null
    timeout:
      server: 6m
      client: 6m
    checkInterval: 3s
  image:
    tag: 7.0.7-alpine
  containerSecurityContext: null
  sentinel:
    bind: "0.0.0.0"
