redis-ha:
  persistentVolume:
    enabled: false
  redis:
    masterGroupName: argocd
    config:
      save: "\"\""
      bind: "* -::*"
  haproxy:
    enabled: true
    IPv6:
      enabled: false
    image:
      tag: 2.6.2-alpine
    containerSecurityContext: null
    timeout:
      server: 6m
      client: 6m
    checkInterval: 3s
  image:
    tag: 7.0.5-alpine
  containerSecurityContext: null
