redis-ha:
  auth: true
  authKey: auth
  existingSecret: argocd-redis
  persistentVolume:
    enabled: false
  redis:
    masterGroupName: argocd
    config:
      save: '""'
      bind: '0.0.0.0'
  haproxy:
    enabled: true
    IPv6:
      enabled: false
    deploymentStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1 # to avoid deadlock with default 3 replicas on 3-node deployment & pod anti-affinity rules
    image:
      tag: 3.0.8-alpine
    timeout:
      server: 6m
      client: 6m
    checkInterval: 3s
    metrics:
      enabled: true
  image:
    tag: 7.2.7-alpine
  sentinel:
    bind: '0.0.0.0'
    lifecycle:
      postStart:
        exec:
          command:
            - '/bin/sh'
            - '-c'
            - 'sleep 30; redis-cli -p 26379 sentinel reset argocd'
