redis-ha:
  persistentVolume:
    enabled: false
  redis:
    masterGroupName: argocd
    config:
      save: "\"\""
      bind: "0.0.0.0"
  haproxy:
    enabled: true
    image:
      tag: 2.0.25-alpine
    timeout:
      server: 6m
      client: 6m
    checkInterval: 3s
  image:
    tag: 6.2.6-alpine
  sentinel:
    bind: "0.0.0.0"
