@import 'node_modules/argo-ui/bundle/app/shared/styles/config';

.application-node-info {
    &__manifest {
        background: white;
        padding: 1em;
        overflow-x: auto;

        &--raw {
            font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace;
            white-space: pre;
            font-size: 12px;
        }
    }
}
