mkdocs==1.6.1
# Strict mode has been disabled in latest versions of mkdocs-material.
# Thus pointing to the older version of mkdocs-material.
mkdocs-material==7.1.8
markdown_include==0.8.1
pygments==2.18.0
jinja2==3.1.4
markdown==3.7
pymdown-extensions==10.11.2