mkdocs==1.3.0
# Strict mode has been disabled in latest versions of mkdocs-material.
# Thus pointing to the older version of mkdocs-material.
mkdocs-material==7.1.8
markdown_include==0.6.0
pygments==2.15.1
jinja2==3.1.4
markdown==3.3.7
pymdown-extensions==10.2.1