@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

.application-resources-diff {
    &__checkboxes {
        @include themify($themes){
            background-color: themed('background-1');
        }
        text-align: right;
        label {
            padding-right: 2em;
            color: $argo-color-gray-8;
            @include themify($themes){
                color: themed('text-2');
            }
        }
    }
    &__heading {
        @include themify($themes){
            color: themed('text-1');
            background-color: themed('background-1');
        }
        text-align: center;
        font-size: 1.2em;

        code {
          padding: .2em .4em;
          margin: 0;
          font-size: 85%;
          white-space: break-spaces;
          background-color: #818b981f;
          border-radius: 6px;
        }
    }
    &__diff {
        font-size: 10pt;
        &__title {
            font-weight: bold;
            .diff__collapse {
                position: absolute;
                right: 0;
                cursor: pointer;
                margin-left: auto;
                margin-right: 1.5rem;
                font-size: 20px;
                @include themify($themes){
                    box-shadow: 0 0 2px themed('shadow');
                }
                padding: 0.2em 0.35em;
            }
        }
    }
}
