@import 'node_modules/argo-ui/src/styles/config';
@import 'src/app/settings/components/project/config';

.card {
  margin-bottom: 1.5em;
  margin-right: 30px;

  &__full-width {
      width: 100%;
  }

  &__empty {
    background-color: $argo-color-gray-2;
    .card__title {
      color: $argo-color-gray-7;
    }
    &:hover {
      background-color: $argo-color-gray-1;
      .card__title {
        color: black;
      }
    }
  }

  &__title {
    color : black;
    font-size: 27px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    a {
      font-size: 0.7em;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-left: 10px;

    .project__button {
      margin-left: 10px;
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    div:first-child {
      margin-left: 0;
    }
    div:last-child {
      margin-right: 0;
    }
  }

  &__input-container {
    div {
      display: flex;
    }
  }

  &--input, &--select {
    font-size: 17px;
    outline: none;
    box-shadow: none;
    border: 2px solid $argo-color-gray-4;
    padding-left: $input-padding-left;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 500;
    height: 2.5em;
    box-sizing: border-box;
    width: 100%;
    line-height: 1em;
    display: block;
    border-radius: 7px;
  }

  &--input:focus {
    border: 2px solid $argo-running-color;
    color: darken($argo-running-color, 25%);
  }

  &--input::placeholder {
    font-weight: 400;
  }

  &__input-labels {
    margin-bottom: 10px;
    &--label {
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__col {
    display: block;
    margin: 0 $col-gutter;
    flex-basis: $col-width;
    width: $col-width;
  }

  &__col-large {
    flex-basis: $col-width-large;
    width: $col-width-large;
  }

  &__col-grow {
    width: auto;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__col-round-button {
    flex-basis: $round-button-size;
    width: $round-button-size;
  }

  &__col-select-button {
    flex-basis: $select-button-size;
    width: $select-button-size;
  }

  &__col-button {
    flex-basis: $button-width;
    width: $button-width;
    .project__button {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__col-input {
    align-items: center;
  }

  &__link-icon {
    margin-left: 10px;
  }

  @function get-col-width($cols) {
    $fill: $button-width + $round-button-size;
    @return $fill + $cols * (2*$col-gutter + $col-width) + 2*$col-gutter;
  }

  &__col-fill-1 {
    width:get-col-width(1);
  }

  &__col-fill-2 {
    width: get-col-width(2);
  }

  &__info-icon {
    color: $argo-color-gray-6;
    margin-left: 5px;

    &:hover {
      color: $argo-color-gray-6;
    }
  }

}
