@import 'node_modules/argo-ui/src/styles/config';

$button-width: 75px;
$select-button-size: 18px;
$col-width: 245px;
$col-width-large: 450px;
$col-gutter: 10px;

.card {
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    div:first-child {
      margin-left: 0;
    }
    div:last-child {
      margin-right: 0;
    }
  }

  &__col {
    display: block;
    margin: 0 $col-gutter;
    flex-basis: $col-width;
    width: $col-width;
  }

  &__col-large {
    flex-basis: $col-width-large;
    width: $col-width-large;
  }

  &__col-grow {
    width: auto;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__col-select-button {
    flex-basis: $select-button-size;
    width: $select-button-size;
  }

  &__col-button {
    flex-basis: $button-width;
    width: $button-width;
    .card__button {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__col-input {
    display: flex;
    align-items: center;
  }

  &__link-icon {
    margin-left: 10px;
  }

  &__label {
    text-transform: uppercase;
  }

  &__button-select {
    $deselect-color: $argo-color-gray-6;
    $select-color: $argo-color-teal-6;
    cursor: pointer;
    border: 2px solid $deselect-color;
    border-radius: 3px;
    color: transparent;
    width: $select-button-size;
    height: $select-button-size;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &--selected {
      @extend .card__button-select;
      border-color: $select-color;
      background-color: $select-color;
      color: $white-color;
    }
  }

}
