@import 'node_modules/argo-ui/src/styles/config';

$button-width: 75px;
$select-button-size: 18px;
$col-width: 245px;
$col-width-large: 450px;
$col-gutter: 10px;

.card {
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    div:first-child {
      margin-left: 0;
    }
    div:last-child {
      margin-right: 0;
    }
  }

  &__col {
    margin: 0 $col-gutter;
    flex-basis: $col-width;
    width: $col-width;
  }

  &__col-large {
    flex-basis: $col-width-large;
    width: $col-width-large;
  }

  &__col-grow {
    width: auto;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__col-select-button {
    flex-basis: $select-button-size;
    width: $select-button-size;
  }
}
