name: Close stale issues

on:
  schedule:
    - cron: "0 0 * * *" #Runs at 12AM UTC

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - name: Mark and close stale issues and PRs
        uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

          stale-issue-message: >
            This issue has been marked as stale because it has been open for
            90 days with no activity. This thread will be automatically closed
            in 30 days if no further activity occurs.

          stale-pr-message: >
            This pull request has been marked as stale because it has been open
            for 90 days with no activity. This pull request will be automatically
            closed in 30 days if no further activity occurs.

          # Labels that should NEVER be marked stale
          exempt-issue-labels: >
            bug,
            security,
            breaking/high,
            breaking/low,
            breaking/medium

          days-before-stale: 90
          days-before-close: 30
          operations-per-run: 200
