apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: argocd-conversion-webhook
    app.kubernetes.io/part-of: argocd
    app.kubernetes.io/component: conversion-webhook
  name: argocd-conversion-webhook
spec:
  ports:
  - name: https
    port: 443
    targetPort: 8443
    protocol: TCP
  selector:
    app.kubernetes.io/name: argocd-conversion-webhook
